@model FSWDFinalProject.DATA.EF.Position

@{
    ViewBag.Title = Model.Title;
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>
        <div class="vertical-space-60"></div>
        <div class="detail">
            <div class="media display-inline text-align-center">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobDescription)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.PositionId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</section>