@model IEnumerable<FSWDFinalProject.DATA.EF.Position>

@{
    ViewBag.Title = "Positions";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>

        <p id="positionCreate">
            @Html.ActionLink("Add a Position", "Create", "Positions")
        </p>
        <div class="vertical-space-60"></div>

        <div class="detail">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PositionImage)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionImage)
                            <img src="~/Content/imags/@item.PositionImage" alt="Position Icon" title="@item.Title" />
                        </td>
                        <td>
                            @Html.ActionLink(item.Title, "Details", new { id = item.Title })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PositionId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PositionId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    </div>
</section>