@model IEnumerable<FSWDFinalProject.DATA.EF.Position>

@{
    ViewBag.Title = "Positions";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h4 class="text-left">Filter Jobs Result</h4>
        <div class="vertical-space-30"></div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="Job-Category-box">
                    <p class="title">Job Category</p>
                    <ul>
                        <li class="list-item1 "><a href="#" class="font-color-black">Web Developer (54)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">User Experience Design (21)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Digital Marketer (72)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Branding and promotion (54)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">User Experience Design (21)</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Digital Marketer (72)</a></li>
                    </ul>
                </div>
                <div class="Job-Nature-box">
                    <p class="title">Job Nature</p>
                    <ul>
                        <li class="list-item1 "><a href="#" class="font-color-black">Full Time jobs</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Part Time jobs</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Hourly</a></li>
                    </ul>
                </div>
                <div class="Salary-Range-box">
                    <p class="title">Salary Range</p>
                    <p>
                        <input type="text" id="amount1" class="salery-range"> <i class="fa fa-minus minus"></i>
                        <input type="text" id="amount2" class="salery-range">
                    </p>
                    <div id="slider-range"></div>
                    <p class="small-title">Experience Level</p>
                    <form action="#" class="search-box_search_form">
                        <select class="dropdown_item_select search-box_search_input">
                            <option>Select experience level</option>
                            <option>Select experience level1</option>
                            <option>Select experience level2</option>
                        </select>
                        <p class="small-title">Location</p>
                        <input class="search-box_search_input Location " placeholder="Location" required="required" type="search">
                        <span class="fa fa-map-marker location-icone"></span>
                    </form>
                </div>
                <div class="Industry-box">
                    <p class="title">Industry</p>
                    <ul>
                        <li class="deactivate"><a href="#" class="font-color-black">Full Time jobs</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Part Time jobs</a></li>
                        <li class="list-item1 "><a href="#" class="font-color-black">Hourly</a></li>
                    </ul>
                </div>
            </div>

            <p id="positionCreate">
                @Html.ActionLink("Add a Position", "Create", "Positions")
            </p>
            <div class="col-lg-8 col-md-12">
                <div class="detail width-100 ">
                    <div class="media display-inline text-align-center">
                        @foreach (var item in Model)
                        {
                            <img src="~/Content/imags/@item.PositionImage" alt="Position Icon" title="@item.Title" class="mr-3"/>
                            <div class="media-body text-left  text-align-center">
                                <h6><a href="@Url.Action("Details", "Positions")" class="font-color-black">@item.Title</a></h6>
                                <i class="large material-icons">place</i>
                                <span class="text">@item.OpenPositions.Where(l => l.PositionId == l.OpenPositionId).Contains(item.Location)</span>
                                <a href="#" class="part-full-time">Part Time</a>
                            </div>
                        }
                        @*<img src="imags/job-post-icone-1.png" alt="John Doe" class="mr-3 ">
                            <div class="media-body text-left  text-align-center">
                                <h6><a href="#" class="font-color-black">Jopitar looking for a senior UX Designer</a></h6>
                                <i class="large material-icons">account_balance</i>
                                <span class="text">Jopitar inc.</span>
                                <br />
                                <i class="large material-icons">place</i>
                                <span class="text font-size">11907 Doyle Cape Cydneyview</span>
                                <div class="float-right margin-top text-align-center">
                                    <a href="#" class="part-full-time">Part Tiatton</a>
                                    <p class="date-time">Deadline: May 23, 2018</p>
                                </div>
                            </div>*@
                    </div>
                </div>
    @*<div class="detail">
        <div class="media display-inline text-align-center">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.PositionImage)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookImage)
                            <img src="~/Content/imags/@item.PositionImage" alt="Position Icon" title="@item.Title" />
                        </td>
                        <td>
                            @Html.ActionLink(item.Title, "Details", new { id = item.Title })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.PositionId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.PositionId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.PositionId })
                        </td>
                    </tr>
                }

            </table>*@
        </div>
    </div>
    </div>
</section>