@model IEnumerable<FSWDFinalProject.DATA.EF.Location>

@{
    ViewBag.Title = "Locations";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>
        <p>
            @Html.ActionLink("Add a Location", "Create")
        </p>
        <div class="vertical-space-60"></div>
        <div class="detail">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.StoreNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        
                        <th>
                            @Html.DisplayNameFor(model => model.UserDetail.FullName)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @*@Html.ActionLink("Details", "Details", new { id = item.LocationId })*@
                                <!--Made Store Number a link to Details for that Location-->
                                @Html.ActionLink(item.StoreNumber, "Details", new { id = item.StoreNumber, @class = "btn background-color-orange font-color-white" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserDetail.FullName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.LocationId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.LocationId })
                            </td>
                        </tr>
                    }

                </table>
        </div>
    </div>
</section>

