@model FSWDFinalProject.DATA.EF.UserDetail

@{
    ViewBag.Title = Model.FullName;
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>
        <div class="vertical-space-60"></div>
        <div class="detail">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ResumeFilename, new { htmlAttributes = new { @class = "form-control", placeholder = "Resume File" } })
                        @Html.ValidationMessageFor(model => model.ResumeFilename, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="editCreateBtns">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn background-color-orange font-color-white" />
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn background-color-white font-color-orange" })

                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
