@model IEnumerable<FSWDFinalProject.DATA.EF.UserDetail>

@{
    ViewBag.Title = "Profile";
}


<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>
        <div class="detail width-100 ">
            @foreach (var item in Model)
            {
                <div class="section">
                    <div class="media-body text-left  text-align-center">
                        <a href="@Url.Action("Details", "UserDetails", new { id=item.UserId})" class="font-color-black">@item.FullName</a>
                        <span class="text">@Html.DisplayFor(modelItem => item.ResumeFilename)</span>
                        <a href="@Url.Action("Edit","UserDetails", new { id=item.UserId})" class="font-color-orange">Edit |</a>
                        <a href="@Url.Action("Delete","OpenPositions", new { id=item.UserId})" class="font-color-orange">Delete</a>

                    </div>

                </div>
            }

        </div>
    </div>
</section>
