@model FSWDFinalProject.DATA.EF.ApplicationStatus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ApplicationStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationStatusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
