@model IEnumerable<FSWDFinalProject.DATA.EF.OpenPosition>

@{
    ViewBag.Title = "Open Positions";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>
        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
        {
            <p class="font-color-orange" id="positionCreate">
                @Html.ActionLink("Add an Open Position", "Create", "OpenPositions")
            </p>
        }

        <div class="vertical-space-60"></div>
        <div class="col-lg-10">
            <div class="detail width-100 ">
                @foreach (var item in Model)
                {
                    <div class="section">
                        <img src="~/Content/images/Positions/@item.Position.PositionImage" alt="Position Icon" title="@item.Position.Title" class="mr-3" />
                        <div class="media-body text-center  text-align-center">
                            <h6><a href="@Url.Action("Details", "OpenPositions")" class="font-color-black">@item.Position.Title</a></h6>
                            <i class="large material-icons">place</i>
                            <span class="text">@Html.DisplayFor(modelItem => item.Location.Address)</span>
                            @*<a href="#" class="part-full-time">Part Time</a>*@
                        </div>
                        <div class="media-body text-right text-align-center">
                            @if (User.IsInRole("Employee"))
                            {
                                <a href="@Url.Action("Apply","OpenPositions", new { id=item.OpenPositionId})" class="btn background-color-orange font-color-white">Apply Here!</a>
                            }

                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                                <a href="@Url.Action("Edit","OpenPositions", new { id=item.OpenPositionId})" class="font-color-orange">Edit |</a>
                                <a href="@Url.Action("Delete","OpenPositions", new { id=item.OpenPositionId})" class="font-color-orange">Delete</a>
                            }
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
