@model FSWDFinalProject.DATA.EF.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManagerNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManagerNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResumeFilename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeFilename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationStatus.StatusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationStatus.StatusName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenPosition.OpenPositionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserDetail.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserDetail.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
