@model IEnumerable<FSWDFinalProject.DATA.EF.Application>

@{
    ViewBag.Title = "Applications";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>

        <div class="detail">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.OpenPosition.Location.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ResumeFilename)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationStatus.StatusName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ManagerNotes)
                    </th>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <th></th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationDate)
                        </td>
                        <td>
                            @*@Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |*@

                            @*@Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)*@
                            @Html.ActionLink(item.OpenPosition.Position.Title, "Details", new { id = item.OpenPosition.Position.Title, @class = "btn background-color-orange font-color-white" })

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OpenPosition.Location.Address)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.ResumeFilename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationStatus.StatusName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ManagerNotes)
                        </td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <td>
                                <a href="@Url.Action("Edit","Applications", new { id=item.ApplicationId})" class="font-color-orange">Edit |</a>
                                <a href="@Url.Action("Delete","Applications", new { id=item.ApplicationId})" class="font-color-orange">Delete</a>
                            </td>
                        }

                    </tr>
                }

            </table>
        </div>
    </div>
</section>